.sign{style: "height:200%; background: url(/assets/capetown_3.jpg)"}
	.sign-box
		%h1 Basic information
		= render 'form'
		%br
		%br
		%h1 Profile information
		= form_for @company do |f|
			%ul
				%li
					= f.label(:website, "Website: ")
					= f.text_field(:website)
				%li
					= f.label(:email, "Email: ")
					= f.email_field(:email)
				%li
					= f.label(:phone, "Phone: ")
					= f.text_field(:phone)
				%li
					= f.label(:hours, "Hours: ")
					= f.text_field(:hours)
				%li
					= f.submit("Save", class: "button")	
		%br
		%br
		%h1 Description
		= form_for @company do |f|
			%ul
				%li
					= f.label(:info, "About: ")
					%br
					= f.text_area(:info, style: "width:100%; height:200px;")
				%li
					= f.submit("Save", class: "button")
		%br
		%br
		%h1 Technology
		= form_tag(companies_tech_tags_path, :method=>'post') do
			%ul
				%li
					= label_tag("add_tech",  "Add technologies: ")
					%br
					= select_tag("add_tech", options_from_collection_for_select(@technology - @company.technologies, "id", "name"), multiple: true, class: "select2", style: "width:100%;")
				%li
					= label_tag("remove_tech", "Remove technologies: ")
					%br
					= select_tag("remove_tech", options_from_collection_for_select(@company.technologies, "id", "name"), multiple: true, class: "select2", style: "width:100%;")
				%li
					= hidden_field_tag("id", value = params[:id])
				%li
					= submit_tag "Save", class: "button"
		%br
		= link_to 'Back', @company

:javascript
	$(document).ready(function() { $(".select2").select2(); });
