%h1 Edit company

= render 'form'

= form_for @company do |f|
	%ul
		%li
			= f.label(:website, "Website: ")
			= f.text_field(:website)
		%li
			= f.label(:email, "Email: ")
			= f.email_field(:email)
		%li
			= f.label(:phone, "Phone: ")
			= f.text_field(:phone)
		%li
			= f.label(:hours, "Hours")
			= f.text_field(:hours)
		%li
			= f.submit("Save")

= form_tag(companies_tech_tags_path, :method=>'post') do
	= select_tag("name", options_from_collection_for_select(@technology, "id", "name"), multiple: true)
	= submit_tag "Save"

= link_to 'Back', @company

