%h1 Edit company
%br

= render 'form'
%br

= form_for @company do |f|
	%ul
		%li
			= f.label(:website, "Website: ")
			= f.text_field(:website)
		%li
			= f.label(:email, "Email: ")
			= f.email_field(:email)
		%li
			= f.label(:phone, "Phone: ")
			= f.text_field(:phone)
		%li
			= f.label(:hours, "Hours")
			= f.text_field(:hours)
		%li
			= f.submit("Save")
%br

= form_tag(companies_tech_tags_path, :method=>'post') do
	%ul
		%li
			= label_tag("add_tech",  "Add technologies: ")
			= select_tag("add_tech", options_from_collection_for_select(@technology - @company.technologies, "id", "name"), multiple: true)
		%li
			= label_tag("remove_tech", "Remove technologies: ")
			= select_tag("remove_tech", options_from_collection_for_select(@company.technologies, "id", "name"), multiple: true)
		%li
			= hidden_field_tag("id", value = params[:id])
		%li
			= submit_tag "Save"
%br

= link_to 'Back', @company

