%h1 Edit company

= render 'form'

%hr

= form_for @company do |f|
	= f.label(:website, "Website: ")
	= f.text_field(:website)
	= f.label(:email, "Email: ")
	= f.email_field(:email)
	= f.label(:phone, "Phone: ")
	= f.text_field(:phone)
	= f.label(:hours, "Hours")
	= f.text_field(:hours)
	= f.submit("Save")

%hr

= form_tag(companies_tech_tags_path, :method=>'post') do
	= select_tag("name", options_from_collection_for_select(@technology, "id", "name"), multiple: true)
	= submit_tag "Save"

= link_to 'Back', @company

