.notice= flash[:success]

:css
	.header{background-image: url("")}

%nav

- if user_signed_in?
	= link_to "Sign out", destroy_user_session_path, method: :delete
	- if (current_user.id == @company.user_id)
		= link_to "Edit Profile", edit_company_path
- else
	%a{href: new_user_session_path} Sign in

.header.info
	%h1= @company.name
	
	company type
	%br
	%br
	%br

	.description= @company.info
	%br
	%br

	%ul.basic-info
		%li
			%img.logo{src: @company.avatar.url(:thumb)}
			.text #{@company.website}
		%li
			%img.logo{src: @company.avatar.url(:thumb)}
			.text #{@company.email}
		%li
			%img.logo{src: @company.avatar.url(:thumb)}
			.text #{@company.phone}
		%li
			%img.logo{src: @company.avatar.url(:thumb)}
			.text #{@company.hours}
		%li
			%img.logo{src: @company.avatar.url(:thumb)}
			.text #{@company.size}

	%hr
	%nav
		%a{href: "#map"} Location 
		|
		%a{href: "#about"} About
		|
		%a{href: "#tech"} Technologies
		|
		%a{href: "#similar"} Similar Companies



#map{frameborder: "0", style: "border:0; height:500px;", width: "100%"}
/ %table.map-images
/ 	%tr
/ 		%td 
/ 			%img{src: "http://i283.photobucket.com/albums/kk307/malmal718/backgrounds-3.jpg"}
/ 		%td
/ 			%img{src: "http://i283.photobucket.com/albums/kk307/malmal718/backgrounds-3.jpg"}
/ 	%tr
/ 		%td
/ 			%img{src: "http://i283.photobucket.com/albums/kk307/malmal718/backgrounds-3.jpg"}
/ 		%td
/ 			%img{src: "http://i283.photobucket.com/albums/kk307/malmal718/backgrounds-3.jpg"}
#about.info
	%h1 About
	%p

#tech.info
	%h1 Technologies
	%ul
	- @company.technologies.each do |t|
		%li #{t.name}

#similar.info
	%h1 Similar Companies
	%p

:javascript
	var map = L.mapbox.map('map', 'examples.h186knp8').setView([-33.93, 18.42], 20);

	var marker = L.marker([#{@company.latitude}, #{@company.longitude}] ).addTo(map);

	map.panTo(marker._latlng)

	map.dragging.disable();
	map.touchZoom.disable();
	map.doubleClickZoom.disable();
	map.scrollWheelZoom.disable();