!!!
%html
  %head
    %title Made in Cape Town
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"}
    %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js"}
  %body
    = render "shared/header"
    .container
      = yield